<!DOCTYPE html>
<html>
<%- include('Components/Header', { title: guild.name }) %>

<body style="background-color: #2C2F33;">

    <%- include('Components/Navbar', { user }) %>

    <div class="jumbotron">
        
    </div>

    <%- include('Components/Footer') %>
</body>

</html>